@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&family=Montserrat:wght@300;500;600&display=swap");
body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  outline: none;
  border: none;
}
input {
  outline: none;
  border: none;
}
.logo img {
  width: 50%;
}
#main {
  width: 100%;
  height: 750px;
  position: relative;
  background-size: cover;
  background-image: url(images/home.png);
  background-color: #1a1a1a;
  background-size: 1280px 720px;
  background-repeat: no-repeat;
  background-position: 120% -20%;
}
.code-container {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
}
.code-container img {
  width: 50%;
}
.code-container h2 {
  font-family: "Montserrat";
  font-size: 20px;
  margin: 0px;
  letter-spacing: 2px;
  color: #f7921f;
  text-transform: uppercase;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  transition: 0.6s ease-in-out;
}
nav.active {
  /* box-shadow: 5px 10px 30px rgba(0, 247, 255, 0.157); */
  background-color: #010100;
}
nav ul {
  display: flex;
}
.active {
  color: #ffffff;
  transition: all ease 0.2s;
}
nav ul li a.active {
  border-top: 3px solid #f7921f;
}
nav ul li a {
  font-family: calibri;
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  transition: 0.5s ease-in-out;
  font-weight: 700;
}

nav ul li a:hover {
  border-top: 5px solid #3f2608;
  transition: all ease-in 0.2s;
}
nav .menu-btn,
.menu-icon {
  display: none;
}
.name {
  font-family: "Montserrat";
  width: 600px;
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-22%, -50%);
}
.name span {
  color: #f7921f;
  font-size: xx-large;
  text-transform: uppercase;
}
.name .details {
  color: #969696;
}
.name h1 {
  font-family: "Montserrat";
  font-size: 40px;
  margin: 0px;
  letter-spacing: 2px;
  color: #f7921f;
  text-transform: uppercase;
}
.header-btns {
  display: flex;
  margin-top: 40px;
}
.cv-btn {
  width: 110px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7921f;
  border-radius: 10px;
  color: #ffffff;
}
.cv-btn:hover {
  box-shadow: 5px 10px 30px rgba(2, 238, 255, 0.336);
  transition: all ease 0.5s;
  color: #ffffff;
}

.f-heading h1 {
  color: #ffffff;
  font-size: 3rem;
  margin: 0px;
  padding: 0px;
}
.f-heading p {
  color: rgba(247, 247, 247, 0.678);
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}
.f-heading {
  text-align: center;
  margin-top: 60px;
  margin-bottom: -80px;
}
#about {
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5% 0px 5%;
  position: relative;
}

.about-text {
  width: 90%;
  color: #fff;
  list-style: circle;
  align-items: center;
}
.about-text h2 {
  font-size: 2rem;
  color: #f7921f;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}
.about-text p {
  width: 100%;
  color: white;
}
.about-text h1 {
  width: 50%;
  color: white;
  border: 1px solid wheat;
}

/* .about-image{
    width: 50%;
} */
.about-image img {
  width: 40vw;
  margin-right: 20px;
}
#coment-conatiner {
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5% 0px 5%;
}
#coments {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90%;
}
.coment-image {
  width: 70%;
}
.coment-image img {
  width: 700px;
}
.coments-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
#coments-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#coments-element h2 {
  color: #f7921f;
  position: absolute;
  font-size: 2rem;
  text-transform: uppercase;
}
.text {
  border-radius: 20px;
  background-color: #cecfce;
  padding-left: 5px;
  margin-top: 10px;
}
.text p {
  font-size: 1rem;
}
#features {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-family: calibri;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #343433;
}
#features h1 {
  color: #f7921f;
  font-size: 3rem;
  position: relative;
  top: -7%;
  font-family: "Montserrat", sans-serif;
}
.a-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.a-box {
  background-color: #1a1a1a;
  border: 2px solid #f7921f;
  width: 300px;
  height: 450px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 12px rgba(255, 255, 255, 0.1);
  transition: 0.3s ease-in-out;
  position: relative;
}
.a-b-img {
  width: 100%;
  height: 60%;
}
.a-b-img img {
  padding: 3px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  margin-left: 10%;
  margin-top: 10%;
  object-fit: cover;
}
.a-box:hover {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
.image-container img {
  width: 90%;
  height: 600px;
  object-fit: fill;
  justify-self: center;
  border-radius: 4px;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slideContainer {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  background-color: #343433;
}
/* .slide-container{
    width:100%;
    height:900px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid red;
} */
#presentaion {
  padding-top: 30px;
  width: 100%;
  height: 900px;
  position: relative;
  background-repeat: no-repeat;
  background-image: url(images/slide2.png);
  background-size: 100%;
  text-align: center;
}
.slideContainer h1 {
  font-size: 2.5rem;
  color: #f7921f;
  align-self: center;
  font-family: "Montserrat", sans-serif;
}
.slideContainer p {
  color: white;
  align-self: center;
  font-size: 1.4rem;
}
#services {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-family: calibri;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.s-heading h1 {
  color: #ffffff;
  font-size: 3rem;
  margin: 0px;
  padding: 0px;
}
.s-heading p {
  color: rgba(247, 247, 247, 0.678);
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}
.s-heading {
  text-align: center;
  margin: 20px 0px;
}
.s-box {
  background-color: #ffffff;
  width: 350px;
  height: 470px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  position: relative;
}
.b-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.s-b-img {
  width: 100%;
  height: 50%;
}
.s-b-img img {
  width: 100%;
  height: 100%;
}
.s-b-text {
  width: 100%;
  height: 40%;
  background-color: #676766;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.s-b-text p {
  margin: 0px;
  color: white;
  font-size: 1.1rem;
  font-family: calibri;
  display: block;
  display: -webkit-box;
  max-width: 80%;
  margin-top: 25px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.s-b-text a {
  margin-top: 15px;
}
.s-type {
  font-family: calibri;
  color: #000266;
  background-color: #ffffff;
  padding: 10px 15px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

#contact {
  background-color: #343433;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}

#contact h3 {
  font-size: 2rem;
  margin: 20px;
  color: #f7921f;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.contact-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contact-input a {
  width: 200px;
  height: 35px;
  background-color: #f7921f;
  color: #ffffff;
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  align-items: center;
  margin: auto 10px;
  border-radius: 20px;
  font-weight: 500;
  transition: 0.4s ease-out;
}
.contact-input a:hover {
  background-color: #010100;
}
.info {
  padding: 0 15px 0 15px;
  margin-right: 150px;
}
.info p {
  color: white;
  font-family: "Montserrat", sans-serif;
}
.group-input {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 15px;
}
.group-input input {
  width: 100%;
  height: 40px;
  background-color: #555554;
  outline: none;
  text-align: center;
  border-radius: 7px;
  color: white;
  font-weight: bold;
}
.group-input input::placeholder {
  color: #8a8a8b;
}
.group-input textarea::placeholder {
  color: #8a8a8b;
}
.group-input textarea {
  width: 100%;
  height: 40px;
  background-color: #555554;
  outline: none;
  text-align: center;
  border-radius: 7px;
  color: white;
  max-width: max-content;
  max-height: max-content;
}

@media (max-width: 1190px) {
  #main {
    background-size: 1150px !important;
    background-image: none;
  }
  .name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .about-image img {
    height: 400px;
  }
  #features {
    height: auto;
  }
  .a-container {
    flex-wrap: wrap;
  }
  .a-box {
    flex-grow: 1;
  }
  #services {
    height: auto;
  }
  .b-container {
    flex-wrap: wrap;
  }
  .s-box {
    flex-grow: 1;
  }
  .s-b-img img {
    object-fit: cover;
  }
  .a-b-img img {
    object-fit: contain;
  }
}

@media (max-width: 970px) {
  .main {
    background-image: none !important;
  }
  .name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .about-image {
    display: none;
  }
  .cv-btn {
    margin-left: 27%;
    margin-top: 20px;
    align-self: center;
  }
  #about {
    justify-content: center;
    padding-top: 0px;
    text-align: center;
  }
  .about-text {
    width: 90%;
  }
  .about-text h1 {
    font-size: 2rem;
  }
  .about-text p {
    width: 100%;
  }

  .slideContainer {
    display: none;
  }
  .group-input {
    /* display: grid; */
    grid-template-columns: auto;
    gap: 10px;
    padding: 15px;
  }
  .coment-image {
    display: none;
  }
  #coment-conatiner {
    background-color: #343433;
  }
  #contact {
    background-color: #1a1a1a;
  }
}
@media (max-width: 600px) {
  .name {
    width: 60%;
  }
  .coment-image {
    display: none;
  }
}
.scroll {
  left: 42.5%;
}
@media (max-width: 1400px) {
  .menu-icon {
    display: block;
  }
  nav {
    justify-content: space-between;
    height: 65px;
    padding: 0px 30px;
  }
  .logo img {
    width: 50%;
  }
  .header-btns {
    margin: 0;
  }
  .menu {
    display: none;
    position: absolute;
    top: 65px;
    left: 0px;
    background-color: #000000;
    border-bottom: 4px solid #1db096;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .menu li {
    width: 100%;
  }
  nav .menu li a {
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 25px;
  }
  nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  nav .menu-icon .nav-icon {
    background-color: #f1982c;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }
  nav .menu-icon .nav-icon:before,
  nav .menu-icon .nav-icon:after {
    background: #f1982c;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all ease-out 0.2s;
    width: 100%;
  }
  nav .menu-icon .nav-icon:before {
    top: 5px;
  }
  nav .menu-icon .nav-icon:after {
    top: -5px;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }
  nav .menu-btn {
    display: none;
  }
  .about-image {
    display: none;
  }
  .coment-image {
    display: none;
  }
  #about {
    justify-content: center;
    padding-top: 0px;
    text-align: justify;
  }
  nav .menu-btn:checked ~ .menu {
    display: block;
  }
}

@media (max-width: 400px) {
  .s-box {
    width: 100%;
    height: 400px;
  }
}
